[submodule "VulkanTest/vendor/glm"]
	path = VulkanTest/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanTest/vendor/GLFW"]
	path = VulkanTest/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
